<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>bind3</title>
<script type="text/javascript" src="angular.js"></script>
</head>
<body>
	<div ng-controller="nameController">
      <direct show="showName(name)"></direct>  
  </div>
  <script type="text/javascript">
    	angular.module('myApp', [])
    	.directive("direct",function(){ 
			return{
            restrict: 'ECMA',
            template: '<div><input ng-model="model"/></div>'+'<div><button ng-click="show({name:model})">show</button>',
            scope:{
                show:'&'              
            }                      
        }
    }) 
    .controller("nameController",function($scope){
        $scope.showName=function(name){ 
  
          alert(name); 
        } 
    });
    </script>
</body>
</html>