<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>ng-checked</title>
<meta name="description" content="">
<meta name="keywords" content="">
<script type="text/javascript" src="angular.js"></script>
<link href="" rel="stylesheet">
</head>
<body>
    <label>someProperty = {{someProperty}}</label>
    <input type="checkbox"
    ng-model="someProperty"
    ng-init="someProperty = true"
    ng-checked="someProperty">

    <label>anotherProperty = {{anotherProperty}}</label>
    <input type="checkbox"
    ng-model="anotherProperty"
    ng-init="anotherProperty = false"
    ng-checked="anotherProperty">
    <script>
    	angular.module('myApp', []);
    </script>
</body>
</html>